h1{
    font-family:'Times New Roman', Times, serif;
    color:lavender;
    font-style: bold;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    color:lavender;
    font-style: bold;
}

h4{
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
}
h5{
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
}

body{
    background-image: url("seagif.gif");
    background-size: cover;
}